# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/
env/
ENV/

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Environment Variables
# -----------------------------
.env
.env.*

# -----------------------------
# Alembic
# -----------------------------

# Ignore Python cache inside Alembic
alembic/__pycache__/

# -----------------------------
# Misc
# -----------------------------
*.swp
*.swo